#nav {
	width: 100%;
	position: absolute;
	font-size: 12px;
	top: 0px;
	height: 50px;
	border-bottom: 2px solid #1e884b;
	background-color: #27ae60;

	ul {
		list-style-type: none;
	}

	ul li {
		display: inline;
		margin: 15px;
	}

	ul li a {
		color: white;
		font-weight: bold;
		text-decoration: none;
	}
}
